.carrossel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto; 
  max-width: 60%; 
  height: 250px; 
}

.carrossel-button {
  font-size: 20px;
  padding: 10px;
  margin: 0 10px;
}

.carrossel-imagem {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}
