.cardsContainer {
    border-radius: 10px;
    background-color: #202020;
    color: #ffa500;
    margin: 0 auto;
    width: 90vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 6px 6px 6px rgba(22, 21, 21, 0.258);
    align-items: flex-start;
  }
  


